*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;

}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;

}

#search-input {
    width: 60%;
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    border-radius: 5px;
    font-size: 18px;
    color: rgb(110, 106, 101);

}


#search-button{
    padding: 10px 20px;
    background-color: rgb(160, 160, 92);
    color: black;
    border: none;
    font-size: 18px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
    transition: background-color .3s ease-in-out;
    
}

#search-button:hover{
    background-color: rgb(95, 85, 72);
}
.search-results{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.search-result{
    margin-bottom: 60px;
    width: 30%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);

}
.search-result:hover img{
    transform: scale(1.05);
}
.search-result img{
    width:100% ;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform .3s ease-in-out;
}

.search-result a{
    padding: 10px;
    display: block;
    color: rgb(138, 132, 132);
    text-decoration: none;
    transition: background-color .3s ease-in-out;
   
}

.search-result:hover a{
    background-color: rgb(212, 197, 173);
}

#show-more-button{
    background-color: rgb(156, 156, 167);
    border: none;
    color: azure;
    padding: 10px 20px;
    display: block;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    transition: background-color 0.3s ease-in-out;
    display: none;

}

#show-more-button:hover{
    background-color: rgb(212, 219, 219);
}

@media screen and (max-width:768px){
    .search-result{
        width: 45%;
    }
    
}

@media screen and (max-width:48px){
    .search-result{
        width: 45%;
    }
    form{
        flex-direction: column;
    }
    #search-input{
        margin-bottom: 20px;
        width: 85%;
    }
    
}

